body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('http://i.imgur.com/b9r5sEL.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
.title {
  text-align: center;
  margin-top: 30px;
}
.title p {
  font-style: italic;
  font-size: 0.7em;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  transform: scale(.5) translateY(150px)scale3d(20);
  transition: all 1.5s;
  background-color: green;
  border-radius: 50%;
}
.playing{
  transform: scale(.5) translateY(150px)scale3d(200);
  transition: all 1.5s;
  background-color: red;
  border-radius: 20%;
}
/*.playing:hover{
  transform: scale(1.5) translateY(-150px) rotate(700);
  transition: all 1.5s;
  background-color: green;
  border-radius: 20%;
}*/

kbd {
  display: block;
  font-size: 1.5em;

}

span {
  font-size: 0.7em;
}

.playing {
  transform: scale(1.1);
  border: 1px solid red;
  box-shadow: 0 0 35px red;
}
